.gallery__grid {
  margin: 51px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: auto;
  gap: 20px 17px;
  padding: 0px;
  justify-content: center;
  list-style-type: none;
}
.gallery__card {
  background-color: #fff;
  border: 0px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.gallery__image {
  object-fit: cover;
  object-position: cover;
  height: 282px;
}
.gallery__image:hover {
  cursor: pointer;
}
.gallery__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 20px 25px;
}
.gallery__label {
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 219px;
}
.gallery__like-button {
  width: 21px;
  height: 18px;
  margin: 0px 0px 0px auto;
  padding: 0px;
  border: none;
  background: url("../images/likeIcon.svg") no-repeat center transparent;
  transition: opacity 0.5s;
}
.gallery__like-button_clicked {
  background: url("../images/likeIconBlack.svg") no-repeat center transparent;
}
.gallery__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
.gallery__delete-button {
  width: 18px;
  height: 19.3px;
  margin: 0px 0px 0px auto;
  padding: 0px;
  border: none;
  background: url("../images/trash.svg") no-repeat center transparent;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: opacity 0.5s;
}
.gallery__delete-button:hover {
  opacity: 60%;
  cursor: pointer;
}
@media screen and (max-width: 801px) {
  .gallery__grid {
    margin: 51px 42px 0px;
  }
}

@media screen and (max-width: 320px) {
  .gallery__grid {
    margin: 36px 19px 0px;
  }
}
