.modal {
  /*display: flex; is for opened*/
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
  padding: 0px 19px;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.modal__box {
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.modal__box-photo {
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;
  margin: 0px;
  border: none;
}
.modal__box-title {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin: 0px;
  margin-top: 10px;
}
.modal__container-form {
  position: relative;
  background-color: #fff;
  margin: 0px;
  padding: 34px 36px 36.51px;
  width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: left;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: left;
}

.modal__close {
  background: url("../images/close-Icon.svg") no-repeat center transparent;
  background-size: cover;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  transition: opacity 0.3s;
}
.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}
.modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0px 0px 54px;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  padding: 0px;
  padding-bottom: 13.26px;
}

.modal__input:invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}
.modal__error {
  visibility: hidden;
  color: rgba(255, 0, 0, 1);
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  border: none;
  padding: 0px;
  height: 17px;
}
.modal__error-title,
.modal__error-img {
  margin-bottom: 13px;
}
.modal__error-subtitle,
.modal__error-url {
  margin-bottom: 31.34px;
}
.modal__error_visible {
  visibility: visible;
}

.modal__submit-button {
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  border: none;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  align-self: center;
  color: #fff;
  transition: opacity 0.3s;
}

.modal__submit-button:hover {
  opacity: 80%;
  cursor: pointer;
}
.modal__submit-button:disabled {
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  cursor: not-allowed;
}

@media screen and (max-width: 756px) {
  .modal__title {
    font-size: 18px;
    margin-bottom: 75px;
  }
  .modal__input {
    padding-bottom: 13px;
  }
  .modal__close {
    bottom: calc(100% + 25px);
    left: calc(100% - 35px);
    width: 26px;
    height: 26px;
  }
  .modal__save-button,
  .modal__create {
    font-size: 14px;
  }
  .modal__box-photo {
    width: 240px;
    height: 300px;
  }
  .modal__close-photo {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 3px);
    left: calc(100% + 3px);
  }
}

/* end */
